<div class="col-md-4">
    <div class="content-section">
      <h3>How to use</h3>
      <p class='text-muted'>Please read first
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">1. Create an Account</li>
          <li class="list-group-item list-group-item-light">2. Choose your plan</li>
          <li class="list-group-item list-group-item-light">3. Copy and past your taget link*</li>
          <li class="list-group-item list-group-item-light">4. The winner's name will appear on your screen </li>
        </ul>
      </p>
    </div>
    <div class="content-section">
      <h3>Notice</h3>
      <p class='text-muted'>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"><strong>*If your designated Link has more than 100 comments,tags,followers
            ,you will be categorise as a premium member and need to choose a payment method</strong> </li>
          <li class="list-group-item list-group-item-light"><strong>*be sure your page is not on private mode and your comments are not closed</strong> </li>  
        </ul>
      </p>
    </div>
</div>
