{% extends 'main.html' %}

{% block content %}
    <h2>Easy to use and reliable giveaway webapp for Instagram</h2><br/>
    <h3>Features: </h3>
    <ol>
        <li>giveaway plan by using commnets </li>
        <li>giveaway plan by using tags</li>
        <li>giveaway plan by using combnation of comments and tags</li>

    </ol>
    <h3>suggestions: </h3>
    <ul>
        <li>It is safer to choose a unpredictable password</li>
        <li>The length of your password should be more than 8 charactors</li>
        <li>Please use combnation of Alphabets , numbers and charactors</li>
    </ul>


   










{% endblock content %}


















