{% extends 'main.html' %}


{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <h2 class="mr-2">THE LUCKY WINNER IS:</h2>
            
        </div><br/>
        <h1 class="article-title">&#129351;<strong>{{form}}</strong>&#129351;</h1>
        <br/>   
        </div>
    </article>

    <a class="btn btn-primary" href="{{url_for('get_file')}}" role="button">Download Data</a>


{% endblock content %}






cd






